/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

    html,body
    {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow:hidden;
        font-size: 12px !important;
        font-family: Arial, sans-serif;
    }
    #container  {
        left:10px;
        top:10px;
        right:10px;
        bottom:10px;
        position:absolute;
        display:flex;
        display:-webkit-flex;
        overflow:hidden;
        background-color: white;
    }
    .app
    {
        display:flex;
        flex-direction: column;
        flex-grow:1;
        display:-webkit-flex;
        -webkit-flex-direction: column;
        -webkit-flex-grow:1;
    }
    .toolbar
    {
        margin:2px;
    }
    .contents
    {
        flex-grow:1;
        -webkit-flex-grow:1;
        left:0;
        top:0;
        right:0;
        bottom:0;
        position:relative;
        border:1px solid green;
    }
    /* simple_bundled table styling*/
    .simple_table {
        background-color: white;
        color: #333;
        border-collapse: collapse;
    }
    .simple_table th {
        background-color: #e0e0e0;
        border-right: 1px solid #ddd;
        padding:4px;
        border-bottom-color: transparent;
        text-align: left;
        width:100px;
        min-width: 100px;
    }
    .simple_table td {
        border-right: 1px solid #ddd;
        border-bottom-color: transparent;
        padding:4px;
    }
    .simple_table tr:nth-child(even) {background: #f0f0f0}
    .simple_table tr:nth-child(odd) {background: white}
    /* slickgrid styling */
    .slick-header-columns
    {
        background-color: #eeeeee;
    }
    .slick-header-columns, .slick-cell
    {
        color:gray;
        border: 1px solid transparent;
        border-right: 1px solid #aaa;
        border-bottom-color: #aaa;
    }
    .slick-header-column.ui-state-default
    {
        border-right: 1px solid #aaa;
        color:black;
    }
    .slickgrid
    {
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
    }

    .ReactTable.-striped .rt-tr.-odd {
        background: rgba(0,0,0,0.08) !important;
    }

    .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
        background: rgba(59, 189, 191,0.50) !important;
    }

    .ReactTable .rt-th,
    .ReactTable .rt-thead .rt-resizable-header {
        outline: 0 !important;
    }

    .flexlayout__tab div > .row {
      margin-right: 0px;
      margin-left: 0px;
      margin-top: 10px;
    }

    .defaultWidgetFrame > canvas {
      padding: 0;
      margin: auto;
      /* background-color: #F7E3E0;
      border-color: #ADCFFB; */
    }

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.aligner-item {
  max-width: 50%;
  padding: 10px;
  /* text-align: center; */
}

.aligner form {
  width: 400px;
}

.aligner .round-border {
  border: 1px solid green;
  border-radius: 5px;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.errors {
  color: red;
  font-weight:bold;
}

.form-wide p:last-child {
  text-align: right;
}

.avatar {
  display: inline-block;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #FFFFFF;

  margin: auto;
}
